

/*
new inverse th color: #6a7175
*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container {
  margin: 0 auto;
  max-width: 1920px;
  width: 90%;
}
.navbar {
  background-color: #33c786;
}
table{
    table-layout: fixed;
    width: 100%;
}

table td {
  font-size:0.8em;
  border-bottom:1px solid #fafafb;
  border-left: 1px solid #fafafb;
  border-right: 1px solid #fafafb;
  /*min-width: 35px;*/
  text-align: center;
  padding: 10px;
  border-radius: 0px;
  /*display: inline-block;
  white-space: nowrap;
  overflow: hidden;*/
}

table th {
  font-size:0.8em;
  background-color:#3c414e ; /*old blue #607d8a*/
  color: #FFFFFF;  
  /*min-width: 35px;*/
  text-align: center;
  padding: 10px 3px;
  border-radius: 0px;
  /*display: inline-block;
  white-space: nowrap;
  overflow: hidden;*/
}
.default-cursor {
  cursor:default;
}
.pointer {
  cursor: pointer; 
}
.schedule  td.hover:hover { 
   background-color: #ccc;
}
.weekend {
   background-color: #eaeaea30 /*old color #F5F4EE;*/
}
.selected {
  
	background-color:#89c1d2 ; /*complementary blue: #d1dfec... old blue*/. 
  color: #FFFFFF;
  border-left-color: #89c1d2;
  border-right-color: #89c1d2;
}

.event {
  
    background-color:#ecd1d1; /*old orange #f0ad4e*/;
    border-left-color: #ecd1d1;
    border-right-color: #ecd1d1;
    color: #FFFFFF;
}

.is-outside {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAAXNSR0IArs4c6QAAABZJREFUCB1jYEADmzdv/o8iRA0BoIEAKngPeSAlnXcAAAAASUVORK5CYII=')
  
}
.grad {
  color: white;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}
/*mobile*/
@media screen and (max-width: 1024px) {
  table {
    width: 100%;
    min-width: 250px;
  }

  table tr {
    border:1px solid black;
    border-collapse: collapse;
  }

  table td {
    width: calc(100% / 5);
    display: inline-block;
    border-bottom:0px;
  }

  table thead {
    display: none;
    border-bottom:0px;
  }
  .separator { height: 100px; }
}
