body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.schedule tr {
	cursor: pointer;
}
.schedule  td.hover:hover { 
   background-color: #ccc;
}
.weekend {
   background-color: #F5F4EE;
}
.selected {
	background-color: #4A96AD;
    color: #FFFFFF;
}

.event {
    background-color: #7D1935;
    color: #FFFFFF;
}
.grad {
  color: white;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}
