body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
table{
    table-layout: fixed;
    width: 100%;
}
table td {
  font-size:0.8em;
}
table th {
  font-size:0.8em;
}
.default-cursor {
  cursor:default;
}
.pointer {
  cursor: pointer; 
}
.schedule  td.hover:hover { 
   background-color: #ccc;
}
.weekend {
   background-color: #F5F4EE;
}
.selected {
	background-color: #4A96AD;
  color: #FFFFFF;
}

.event {
    background-color: #f0ad4e/*#7D1935*/;

    color: #FFFFFF;
}
.is-outside {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAAXNSR0IArs4c6QAAABZJREFUCB1jYEADmzdv/o8iRA0BoIEAKngPeSAlnXcAAAAASUVORK5CYII=')
  
}
.grad {
  color: white;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}
